version: "3.9"

services:
  notification-service:
    build: .
    container_name: notification-service
    restart: always
    ports:
      - "8005:8005"
    env_file: .env
    depends_on:
      - postgres
      - rabbitmq
    networks:
      - notification-net

  postgres:
    image: postgres:16
    container_name: notification-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: notifications_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - notification-net

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ricash
      RABBITMQ_DEFAULT_PASS: ricash123
    networks:
      - notification-net

networks:
  notification-net:

volumes:
  pgdata:
